{% extends 'base.html' %}
{% block page_content %}

    <ul class="side-nav fixed" id="slide-out">
        <li><a href="" class="logo">Social Manager</a></li>
        <li class="center">
            {% block personal_info %}{% endblock %}
        </li>
        <br>
        <li class="active" id="id-pages">
            <a class="waves-effect">
                <i class="material-icons">description</i>
                Pages
            </a>
        </li>
        <li id="id-activity">
            <a class="waves-effect" href="">
                <i class="material-icons">today</i>
                Activity
            </a>
        </li>
        {% block logout_link %}{% endblock %}
    </ul>

    <div class="navbar-fixed">
        <nav class="white">
            <a href="#" data-activates="slide-out" class="button-collapse" style="color: #576366;">
                <i class="material-icons">menu</i>
            </a>
            <div class="container">
                <span class="brand-logo center">
                    <span class="current-page" id="id-current-page">Pages</span>
                </span>
            </div>
        </nav>
    </div>

    <div class="container" id="main-content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}